@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--p-primary-50);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
